.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  font-size: 1rem;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 10px 15px;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 10px;
  background-color:  #003580;
  cursor: pointer;
  color:white;
}
.navButton:hover{
  background-color: white;
  color: #003580;
}